.alert {
    width: 100%;
    overflow: hidden;
    border-radius: 0.3125rem;
    margin-bottom: 2rem;
    transition: height 1s, padding 1s, opacity 1s;
    height: 0;
    padding: 0 0.625rem;
    opacity: 1;

    &--open {
        height: 3.125rem;
        padding: 0.3125rem 0.25rem;
    }

    &--close {
        opacity: 0;
    }

    &-success {
        background: #61b393;
    }
}