.btn {
    border: none;
    outline: 0;
    padding: 0.7rem 3rem;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    &-red {
        color: $white;
        background-color: $mandy;
        &:hover {
            background-color: $mid-aqua;
            color: $black;
        }
    }
}