.image-slider {
    .slide-content {
        display: flex;
        @include media(laptop) {
            width: 100% !important;
            display: block;
            img {
                width: 100% !important;
            }
        }
    }
}