

.mobile-menu .modal-content {
    background-color: $mandy;
}

.desktop-menu {
    &-nav-container {
        display: flex;
        align-items: center;
    }

    .subscription-button{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: max-content;
        padding: 0 2rem;
    }
}

.kulturai-mobile-menu,
.kulturai-desktop-menu {
    ul {
        list-style: none;
    }

    li {
        align-items: center;
        display: flex;
    }

    a {
        color: $white;
        padding: .6rem;
        text-decoration: none;
        width: 100%;
    }
}

.kulturai-mobile-menu {
    margin: auto;
    padding-left: 1.5rem;
    font-weight: 200;
}

.kulturai-desktop-menu {
    // max-width: $max_content_width;
    font-family: $h-font-family;
    font-weight: 300;
    
    ul {
        display: flex;
        justify-content: flex-end;
    }

    li.current-menu-item a{
        color: $mandy;
    }

    a:hover {
        color: $mid-aqua;
    }
}