.padding {
    &-bottom {
        padding-bottom: $items-section-separation;
    } 

    &-top {
        padding-top: $items-section-separation;
    }
}

.margin {
    &-bottom {
        margin-bottom: $items-section-separation;
    } 

    &-top {
        margin-top: $items-section-separation;
    }
}

.section-block {
    padding-left: 1rem;
    padding-right: 1rem;

    @include media(small-mobile) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

