 html,
 body,
 p,
 ol,
 ul,
 li,
 dl,
 dt,
 dd,
 blockquote,
 figure,
 fieldset,
 form,
 legend,
 textarea,
 pre,
 iframe,
 hr,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     padding: 0;
     margin: 0;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
 }
 
 /**
  * Apply generic border-box to all elements.
  * See:
  * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
 
 html {
     /* Apply border-box across the entire page. */
    box-sizing: border-box;
 
     // HTML resets
    font-family: $font-family;
    //  line-height: var(--global--line-height-body);
    margin-top: 0 !important;

    
    @include media(small-mobile) {
      font-size: 16px;
   }
 }
 
 /**
  * Relax the definition a bit, to allow components to override it manually.
  */
 * {
 
     &,
     &::before,
     &::after {
         box-sizing: inherit;
     }
 }
 
 // body resets
 body {
    
    font-weight: normal;
    color: $white;
    text-align: left;
    background-color: $black;
    font-size: 14px;
    
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: $h-font-family;
 }

 h1 {
    font-size: 2rem;
 }

 h2 {
    font-size: 1.6rem;
 }

 h3 {
    font-size: 1.3rem;
 }


 h4 {
    font-size: 1.2rem;
 }


 h5 {
    font-size: 1.1rem;
 }


 h6 {
    font-size: 1rem;
 }


 @include media(desktop) {
   h1 {
      font-size: 2.5rem;
   }
  
   h2 {
      font-size: 1.9rem;
   }
  
   // h3 {
   //    font-size: 1.7rem;
   // }
  
  
   // h4 {
   //    font-size: 1.6rem;
   // }
  
  
   // h5 {
   //    font-size: 1.5rem;
   // }
  
  
   // h6 {
   //    font-size: 1.4rem;
   // }
 }


 p {
    font-weight: 300;
    padding-bottom: 1rem;
 }
 
 
 button {
     cursor: pointer;
 }

 img {
    height: auto;
    width: 100%;
 }
 
 main {
    // max-width: 500px;
    margin: auto;
    overflow: hidden;
    > * {
      background-color: $black;
    }
 }



.display-block {
   display: block;
}

.icon {
   width: 1rem;
   display: inline-flex;
   justify-content: center;
   img {
      height: 100%;
      width: auto;
   }
}


.post-thumbnail {
   max-height: 50vh;
   overflow: hidden;
}


//  .slide {
//     transition: transform .5s;
//  }

// #wpadminbar {
//     display: none;
// }