.fixed-header .kulturio-header {
    .static-header {
      visibility: hidden;
    }
    .sticky-header {
      top: 0;
    }
  
    > .hamburguer-menu {
      display: none;
    }
}

.hidden-header .kulturio-header {
  display: none;
}