.blog {
    max-width: 70rem;
    margin: auto;
    
    &-title {
        width: 4rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        h2 {
            color: $mandy;
            text-align: center;
        }
    }

    &-description {
        text-align: center;
        display: block;
        width: 17rem;
        margin: 1rem auto;
        font-weight: 300;
    }

    &-list {
        display: grid;
        gap: 2rem 1rem;
        padding: 2rem;

        @include media(laptop) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &-card {
        height: 13rem;
        overflow: hidden;
        position: relative;
        border-radius: 0.5rem;
        background-color: $white;
        max-width: 20rem;
        margin: auto;
        width: 100%;

        &-content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.7rem;
            line-height: 1;
        }

        img {
            height: 100%;
            width: auto;
            opacity: .8;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: $white;
            text-shadow: 1px 1px 2px grey;
            background-color: $black;
        }

        & &-noimage {
            background-color: $white;
            img {
                width: 6rem !important;
                height: auto !important;
                opacity: .3;
            }
        }
    }

    
}