.background-fixed {
    min-height: 20rem;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 250% auto;
    @include media(mobile) {
        background-size: 230% auto;
    }
    @include media(laptop) {
        background-size: cover;
        background-position: top center;
    }
 } 

.services {
    text-align: center;
    @include media(laptop) {
        padding-top: 6rem;
    }

    &-title {
        max-width: 40rem;
        margin: auto;
    }

    &-table {
        max-width: 18rem;
        margin: auto;
        @include media(laptop) {
            display: flex;
            justify-content: space-around;
            max-width: 81rem;
            margin: 3rem auto;
        }
    }

    &-table-row {
        flex-basis: 33.33%;
        margin-top: 3rem;
        
        @include media(laptop) {
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }

        
        img {
            width: 4rem;
        }
    }
}