.whoarewe {
    text-align: center;

    &-text {
        max-width: 600px;
        margin: auto;
    }

    &-bolo {
        margin-bottom: 6rem;
        img {
            width: 220%;
            height: 100%;
            @include media(laptop) {
                width: 100%;
            }
        }
    }

    &-slide {
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;
        margin-bottom: 2rem;
        > span {
            display: flex;
            flex-direction: column;
            text-align: left;
            line-height: 0;
            font-size: 16px;
            position: relative;
            right: 0;
        }

        @include media(laptop) {
            visibility: hidden;
        }
    }

    &-table {
        width: 20rem;
        margin: auto;
        margin-top: 1.2rem;
        width: 100%;

        @include media(laptop) {
            display: flex;
            width: auto;
        }
        
        &-row {
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 0.05rem;
                background: $white;
                margin: 1.5rem auto;
                height: 5rem;
            }

            &:last-child:after {
                display: none;
            }



            @include media(laptop) {
                flex-basis: 33%;
                padding: 0 1rem;
                &:after { 
                    margin: 0;
                    position: absolute;
                    top: -0.2rem;
                    right: 0;
                    height: 90%;
                }
                
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}