.home-video {
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: .65;
    overflow: hidden;
    position: fixed;
    height: 100%;
    video {
      height: 100%;
      width: auto;

      @include media(wide) {
        width: 100%;
        height: auto;
      }

    }
}
  
  