.footer {
    position: relative;
    padding-bottom: 7rem;

    @include media(desktop) {
        padding-bottom: 2rem;
        max-width: 81rem;
        margin: 0 auto 3rem;
    }

    &-org-info {
        width: 15.06rem;
        text-align: justify;
    }

    &-section {
        padding-bottom: 1rem;
    }

    &-item {
        line-height: 1.7;
        white-space: nowrap;
        a {
            text-decoration: none;
            color: $white;
        }
    }

    &-social-media {
        padding-left: 0.5rem;
    }

    &-contact {
        padding-left: 1rem;
    }

    &-social-media .icon {
        padding-left: 2rem;
        margin-top: 1rem;
    }

    &-mobile-bolo {
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            margin-left: 60%;
        }

        @include media(small-mobile) {
            display: block;
            img {
                margin-left: 40%;
            }
        }

        @include media(laptop) {
            display: none;
        }
    }

    @include media(laptop) {
        &,
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
        }

        &-info {
            max-width: 50%;
            min-width: 27rem;
        }
    }
}

.footer-curve.curve {
    transform: rotateX(180deg);
}